@model IEnumerable<MVC5Course.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

ActionRunTime : @ViewBag.ActionRunTime

<br />

ResultRunTime : @ViewBag.ResultRunTime

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "客戶聯絡人", FormMethod.Post))
{
    <div>
        姓名:
        <input type="text" id="searchText" name="searchText">
        排序欄位:@Html.DropDownList("column", (SelectList)ViewBag.columnList)
        排序方式:@Html.DropDownList("order", (SelectList)ViewBag.orderList)
        <input type="submit" id="submitId" value="查詢" />
    </div>
}

@using (Html.BeginForm("BatchUpdate", "客戶聯絡人"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
            </th>
            <th></th>
        </tr>

        @{
            var data = Model.ToArray();
        }

        @for (var i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modelItem => data[i].Id)

            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].職稱)
                    @Html.ValidationMessageFor(model => data[i].職稱, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].Email)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].手機)
                    @Html.ValidationMessageFor(model => data[i].手機, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].電話)
                    @Html.ValidationMessageFor(model => data[i].電話, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].Id }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].Id })
                </td>
            </tr>
        }
    </table>
    <input type="submit" />
}